<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095384059101-d7rvuu3k90fiuaof5du3sv4gb005sn1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095384059101-d7rvuu3k90fiuaof5du3sv4gb005sn1i</string>
	<key>API_KEY</key>
	<string>AIzaSyA8598MuWLq4ZakAon1CYuAGIKMIWVzafU</string>
	<key>GCM_SENDER_ID</key>
	<string>1095384059101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pyro.e-shop</string>
	<key>PROJECT_ID</key>
	<string>e-shop-7c303</string>
	<key>STORAGE_BUCKET</key>
	<string>e-shop-7c303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095384059101:ios:0f0adb2b5228829d199f34</string>
</dict>
</plist>